@import "tap-target";

footer {
  --footer-display: block;
}

@media screen and (min-width: 600px) {
  footer {
    --footer-display: flex;
  }
}

footer {
  color: var(--color-primary-muted);
  display: var(--footer-display);
  justify-content: space-between;
  max-width: var(--footer-max-width);

  .copyright {
    margin: 0;
  }

  .nav-items {
    li {
      display: inline-block;
      margin-right: 2em;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
