@import 'tap-target';

footer {
  --footer-display: block;
  --footer-max-width: auto;
}

footer section {
  --footer-section-margin-bottom: 2.2em;
  --footer-section-padding: 0;
}

@media screen and (min-width: 600px) {
  footer {
    --footer-display: flex;
    --footer-max-width: 40em;
  }

  footer section {
    --footer-section-padding: 0 1em;
    --footer-section-margin-bottom: 0;
  }
}

footer {
  display: var(--footer-display);
  justify-content: space-between;
  max-width: var(--footer-max-width);

  section {
    margin-bottom: var(--footer-section-margin-bottom);
    padding: var(--footer-section-padding);

    &:first-of-type {
      padding-left: 0;
    }
  }

  .copyright {
    margin-top: 1.2em;
  }

  .nav-items {
    li {
      margin-bottom: 0.75em;
    }

    a {
      display: inline-block;
    }
  }
}
