@import "tap-target";

header {
  --text-align: center;

  text-align: var(--text-align);

  .nav-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 25em;

    a {
      @extend %tap-target;

      display: block;
    }

    li {
      flex-grow: 1;
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 600px) {
  header {
    --text-align: left;
  }
}
