.content {
  --content-display: block;
  --content-margin: 10vh 0 10vh 0;

  display: var(--content-display);
  flex-grow: 1;
  margin: var(--content-margin);
}

@media screen and (min-width: 600px) {
  .content {
    --content-display: grid;
    --content-margin: 15vh 0 15vh 0;
  }
}
