@import "tap-target";

header {
  --text-align: center;

  display: flex;
  justify-content: space-between;
  text-align: var(--text-align);

  .nav-items {
    display: flex;
    flex-wrap: wrap;

    a {
      @extend %tap-target;

      display: block;
    }

    li {
      flex-grow: 1;
      margin: 0 3vw 0 0;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  header {
    --text-align: left;
  }
}
