header {
  --font-size: var(--type-scale-tiny);
  --text-align: center;

  align-items: center;
  display: flex;
  font-size: var(--font-size);
  justify-content: space-between;
  text-align: var(--text-align);

  .nav-items {
    display: flex;
    flex-wrap: wrap;

    a {
      display: block;
    }

    li {
      margin: 0 4vw 0 0;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  header {
    --font-size: auto;
    --text-align: left;
  }
}
