header {
  --font-size: var(--type-scale-tiny);
  --text-align: center;
  --item-gap-size: 4vw;

  align-items: center;
  display: flex;
  font-size: var(--font-size);
  justify-content: space-between;
  text-align: var(--text-align);

  .items {
    align-items: center;
    display: flex;
  }

  .nav-items {
    display: flex;
    flex-wrap: wrap;

    a {
      display: block;
    }

    li {
      margin: 0 var(--item-gap-size) 0 0;
    }
  }
}

@media screen and (min-width: 600px) {
  header {
    --font-size: auto;
    --text-align: left;
  }
}
