@import "../typography";

.page-home .hero p {
  --font-size: 9vw;
}

@media screen and (min-width: 600px) {
  .page-home .hero p {
    --font-size: var(--type-scale-goliath);
  }
}

.page-home .hero p {
  font-family: var(--font-secondary);
  font-size: var(--font-size);

  line-height: 1.25;
}
