.page-home .hero p {
  --hero-font-size: 8vw;

  font-size: var(--hero-font-size);
  font-weight: 500;

  line-height: 1.3;
}

.page-home .hero {
  max-width: 32em;
  padding: var(--hero-padding);

  p:last-of-type {
    margin-bottom: 2em;
  }
}

.page-home .call-to-action {
  --call-to-action-font-size: 7vw;

  color: var(--color-primary);
  font-size: var(--call-to-action-font-size);
  font-weight: 600;

  &:hover {
    color: white;
  }
}

@media screen and (min-width: 600px) {
  .page-home .hero .call-to-action {
    --call-to-action-font-size: var(--type-scale-big);
  }

  .page-home .hero p {
    --hero-font-size: var(--type-scale-bigger);
  }
}
