.hero {
  max-width: 32em;
  padding: var(--hero-padding);
}

.hero p {
  --hero-font-size: 8vw;

  font-size: var(--hero-font-size);
  font-weight: 500;

  line-height: 1.3;
}

.line-hello {
  margin: 0 0 0.3em 0;
}

.line-name {
  margin: 0 0 1.5em 0;
}

.line-about {
  margin-bottom: 3em;
}

.call-to-action {
  --call-to-action-font-size: 7vw;

  color: var(--color-accent);
  font-size: var(--call-to-action-font-size);
  font-weight: 600;

  &:hover {
    color: white;
  }
}

p.availability {
  color: var(--color-primary-muted);
  font-size: var(--type-scale-tiny);
}

@media screen and (min-width: 600px) {
  .call-to-action {
    --call-to-action-font-size: var(--type-scale-big);
  }

  .hero p {
    --hero-font-size: var(--type-scale-bigger);
  }
}
