:root {
  --font-primary: "Circular", Helvetica, Arial, sans-serif;
  --font-secondary: "Portrait", Georgia, "Times New Roman", serif;

  --type-scale-tiny: 0.964em;
  --type-scale-small: 0.833em;
  --type-scale-base: 1em;
  --type-scale-medium: 1.2em;
  --type-scale-big: 1.44em;
  --type-scale-bigger: 1.728em;
  --type-scale-giant: 2.074em;
  --type-scale-goliath: 2.488em;
  --type-scale-monster: 4.3em;
}

body {
  --font-size: 140%;

  font-feature-settings: "calt", "liga", "clig", "kern";
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

h1 { font-size: var(--type-scale-goliath); }

h3 { font-size: var(--type-scale-medium); }
