@import "./fonts";
@import "./forms";
@import "./brand";
@import "./container";
@import "./typography";

@import "./components/content";
@import "./components/logo";
@import "./components/header";
@import "./components/footer";
@import "./components/navigation";

@import "./pages/index";
@import "./pages/contact";

*,
::after,
::before {
  box-sizing: border-box;
}

::selection {
  background: var(--color-primary);
  color: white;
}

a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;

  transition: 0.2s color;

  &.active {
    color: var(--color-primary);
    text-decoration: underline;
  }

  &:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
}

body {
  color: var(--color-text-primary);
}

.site {
  @extend %container;
}

header {
  margin-top: 10vh;
}

footer {
  margin-bottom: 10vh;
}
