@import "./fonts";
@import "./forms";
@import "./brand";
@import "./container";
@import "./typography";

@import "./components/content";
@import "./components/logo";
@import "./components/header";
@import "./components/footer";
@import "./components/navigation";

@import "./pages/index";
@import "./pages/contact";

*,
::after,
::before {
  box-sizing: border-box;
}

::selection {
  background: var(--color-primary);
  color: white;
}

a {
  color: var(--color-primary-link);
  font-weight: 600;
  text-decoration: none;

  transition: 0.2s color;

  &.active {
    color: var(--color-primary);
    text-decoration: underline;
  }

  &:hover {
    color: white;
    text-decoration: underline;
  }
}

body {
  background-color: var(--color-primary-bg);
  color: white;

  transition: background-color ease-in-out 0.2s;
}

.site-content {
  @extend %container;
}

// =REFACTOR
header {
  --header-margin: 5vh 0 0 0;

  margin: var(--header-margin);
}

footer {
  --footer-margin: 0 0 5vh 0;

  margin: var(--footer-margin);
}

@media screen and (min-width: 600px) {
  header {
    --header-margin: 10vh 0 0 0;
  }

  footer {
    --footer-margin: 0 0 10vh 0;
  }
}
