:root {
  /* @color-primary *****/
  --color-primary-hue: 240;
  --color-primary-saturation: 100%;
  --color-primary-lightness: 70%;

  --color-primary: hsl(
    var(--color-primary-hue),
    var(--color-primary-saturation),
    var(--color-primary-lightness)
  );

  /* @color-primary-bg *****/
  --color-primary-bg: hsl(var(--color-primary-hue), 31%, 25%);

  --color-accent: hsl(166, 69%, 53%);

  /* @color-primary-link *****/
  --color-primary-link: hsl(var(--color-primary-hue), 57%, 71%);

  /* @color-primary-muted *****/
  --color-primary-muted: hsl(var(--color-primary-hue), 30%, 65%);
}

.light-mode {
  --color-primary-bg: white;
}
