%container {
  --max-width: 90vw;

  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 600px) {
  %container {
    --max-width: 55vw;
  }
}
