@font-face {
  font-family: "Circular";
  src: url("../fonts/circular-black.woff2") format("woff2"),
    url("../fonts/circular-black.woff") format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/circular-bold.woff2") format("woff2"),
    url("../fonts/circular-bold.woff") format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/circular-medium.woff2") format("woff2"),
    url("../fonts/circular-medium.woff") format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/circular-book.woff2") format("woff2"),
    url("../fonts/circular-book.woff") format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: normal;
}
